/* src/components/Home/index.scss */

.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    .OpenerLines {
        color: #fff;
        font-size: 45px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 0px;
            opacity: 0.6;
        }
        img {
            width: 40px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    .TyperWriterHeadline {
        color: #fff;
        font-size: 30px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 7px;
            margin-left: 0px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        font-family: 'sans-serif';
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }
    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-size: 400;
        letter-spacing: 4px;
        font-family: 'sans-serif';
        text-decoration: none;
        padding: 10px 10px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        &:hover {
            background: #ffd700;
            color: #333;
        }
    }
    .resume-btn {
        color: #ffd700;
        font-size: 13px;
        font-size: 400;
        letter-spacing: 4px;
        font-family: 'sans-serif';
        text-decoration: none;
        padding: 10px 10px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        margin-left: 50px;
        &:hover {
            background: #ffd700;
            color: #333;
        }
    }

    .btnHomePage {
        display: inline;
    }
}

//Screen Responsiveness
//Mobile 1:
@media only screen and (max-width: 480px) {
    .btnHomePage {
        display: block;
    }

    .bitmojiMe {
        display: none;
    }

    .OpenerLines {
        color: #fff;
        font-size: 20px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        img {
            width: 10px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    .TyperWriterHeadline {
        font-size: 7px;

        &::after {
            margin-top: 1px;
        }
    }
}

//Mobile 2: Landscape
@media only screen and (max-width: 768px) {
    .btnHomePage {
        display: block;
    }

    .bitmojiMe {
        display: none;
    }

    .OpenerLines {
        color: #fff;
        font-size: 30px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        img {
            width: 20px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    .TyperWriterHeadline {
        font-size: 7px;

        &::after {
            margin-top: 1px;
        }
    }
}

//Tablet 2: Landscape
@media only screen and (max-width: 1024px) {
    .btnHomePage {
        display: block;
    }

    .bitmojiMe {
        display: none;
    }

    .OpenerLines {
        color: #fff;
        font-size: 30px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        img {
            width: 20px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    .TyperWriterHeadline {
        font-size: 20px;

        &::after {
            margin-top: 1px;
        }
    }
}

//Laptop: 
@media only screen and (max-width: 1280px) {
    .OpenerLines {
        color: #fff;
        font-size: 30px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        img {
            width: 20px;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;

        }
    }

    .TyperWriterHeadline {
        font-size: 20px;

        &::after {
            margin-top: 1px;
        }
    }
}

//Desktop: 
@media only screen and (max-width: 1536px) {
    //TODO

}